.signin{
    @include flex(center,center);
    display : flex;
    background : linear-gradient(135deg,#0597a5,$main-color);
    height : 100vh;
}

.form{
    justify-content: center;
    min-width: 350px;
    min-height: 650px;
    background-color : #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius : 10px;

    @include tab{
        min-width: 280px;
        min-height:450px;
    }

    .home-back{
        &__icon{
            font-size : 3rem;
            cursor: pointer;
            color: #0597a5;
            &:hover{
                color: $main-color;
            }
        }
    }
    

    &__item{
        margin-top: 5px;
        
        &__title{
            color : $main-color;
            text-align : center;
            margin: 30px 0px 30px 0px;
            font-size : 2.7rem;
        }

        &__label{
            color : #333;
            font-size : 1.8rem;
            font-weight: 600;
            margin:20px;
        }

        &__input{
            height: 40px;
            font-size : 1.6rem;
            margin:10px;
            width: 100%;
            color : #333;
            
        }

        &__image{
            width: 40px;
            height: 40px;
            margin-left: 20px;
        }

        &__submit{
            display : flex;
            font-size : 2rem;
            border-radius : 25px;
            color: #fff;
            padding : 10px 60px;
            background:  linear-gradient(135deg,#0597a5,$main-color);
            box-shadow: 0 8px 14px rgba(0,0,0,0.3);
            margin:auto;
            outline: none;
            border: none;
            cursor : pointer;
            transition : all 0.1s ease-in-out;
            margin-bottom: 20px;
           
        }
        &.btn{
            margin-top:2rem;
        }

        &__create-acc{
            font-size: 1.8rem;
            color : #333;
            font-weight : 600;
            &:hover{
                color : $main-red;
            }
        }
    }

    
}