.user{
    flex: 4;
    padding : 20px;

    &__title{

        display: flex;
        align-items: center;
        justify-content : space-between;

        &-edit{
            font-size: 2.6rem;
            font-weight : 600;
            color: #333;

        }

        &-create{
            border: none;
            padding: 6px 14px;
            font-size: 1.6rem;
            border-radius: 10px;
            background-color: $main-color;
            color: #fff;
            cursor: pointer;
        }
    }

    &__content{
        margin-top: 20px;
        display : flex;

        &-show{
            flex: 1;
            box-shadow: $box-shadow;
            padding: 20px;

            .showtop{
                display : flex;
                align-items:center;
                justify-content: flex-start;

                &-img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                &-name{
                    font-size: 1.6rem;
                    margin-left: 15px;
                    color: #333;
                }
            }


            .showbottom{

                margin-top: 20px;
                &-email{

                    display :flex;
                    align-items: center;

                    .eicon{
                        font-size:  2rem;
                    }
                    .econtent{
                        font-size: 1.6rem;
                        margin-left: 5px;
                    }
                }

                &-phone{
                    display :flex;
                    align-items: center;
                    margin-top: 10px;
                    .picon{
                        font-size:  2rem;
                    }

                    .pcontent{
                        font-size: 1.6rem;
                        margin-left: 5px;
                    }
                }
            }
        }

        &-update{
            flex: 2;
            box-shadow: $box-shadow;
            padding: 20px;
            margin-left: 20px;
        }
    }

}