.custom-checkbox{
    @include flex(center,flex-start);

    margin-bottom: 1rem;
    cursor:pointer;
    font-size:1.6rem;
    color: #000;
    @include tab{
        font-size : 1.4rem;
    }

    &:hover{
        color : $main-color;
    }

    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark{
        margin-right: 1rem;
        height: 1.7rem;
        width: 1.7rem;
        border: 1px solid $txt-second-color;
        color: black;
        i{
            //ẩn đi icon
            transform: scale(0);
            position: relative;
             top: -0.4rem;
            transition: transform 0.3s ease;
            font-size : 1.4rem;
        }
    }

    // input được check css vào checkmark
    input:checked ~ &__checkmark{
        background-color : $main-color;
        border: 1px solid $main-color;
        color: #fff;
    }

    input:checked ~ &__checkmark > i {
        // hiện tại icon khi check
        transform: scale(1);
        color: #fff;
    }


}