@import "./variables";

@mixin flex($align-item, $justify-content) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
}

@mixin btn {
    background: $main-color;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

@mixin mb {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}
