$main-bg: #fff;
$main-color: #4267b2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-while: #fff;

$btn-main-bg: $main-bg;
$btn-main-color: #fff;

$header-height: 60px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;

$mobile-width: 600px;
$tablet-width: 1024px;
