@import "./mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    user-select: none;
}

html {
    font-size: 15px;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;

    @include tab {
        padding: 0 20px;
    }

    @include mb {
        padding: 0 10px;
    }
}

@each $color, $val in $colors {
    .color-#{color} {
        color: $val;
    }

    .bg-#{color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tab {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        @include mb {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.grid {
    display: grid;
}
