@import "./base.scss";
@import "./mixins";
@import "./variables";

@import "../components/Header/header.scss";

@import "../pages/Product/product.scss";
@import "../pages/Product/component/ProductCheck/productcheck.scss";
@import "../pages/Product/component/ProductConfig/productconfig.scss";
@import "../pages/Product/component/ProductRating/StarRating/StarRating.scss";

@import "../custom-field/index.scss";

@import "../components/Footer/footer.scss";

@import "../components/Slider/slider.scss";

@import "../components/Layout/layout.scss";

@import "../components/Section/section.scss";

@import "../components/ProductCard/ProductCard.scss";

@import "../pages/Cart/cart.scss";
@import "../pages/Catalog/catalog.scss";
@import "../pages/Signin/Signin.scss";

@import "../components/LoadingBox/loading.scss";
@import "../components/MessageBox/message.scss";
@import "../components/Pagination/pagination.scss";
@import "../components/CheckBox/CheckBox.scss";
