@import "./base.scss";
@import "./mixins";
@import "./variables";

@import "../components/Header/header.scss";
@import "../pages/Product/product.scss";
@import "../components/Footer/footer.scss";

@import "../components/Slider/slider.scss";

@import "../components/Layout/layout.scss";
