.userInfo{
    margin-top: 80px;
    margin-bottom: 50px;

    &__item{
    &__title {
        font-size: 32px;
        font-weight: bold;
        padding: 20px 0;
        margin-left : 60px;
        margin-top: 20px;
    }

    &__content{
        margin: 10px auto 0;
        min-height: 300px;
        border-radius: 8px;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 14px;
        padding : 3rem;


        &__form{
            max-width: 820px;
            display : flex;
            flex-wrap: wrap;

            .avatar{
                display : flex;
                align-items: center;
            }

            .changePassword{
                display: inline-block;
                width: 100%;
                font-size: 2rem;
                margin-bottom: 20px;
                margin-left: 10px;
                color : $main-color;
                font-weight: 600;
            }

            .form-item{

                &.tempo{
                    opacity: 0;
                    cursor: default;

                    .form-item__input{
                        cursor: default;
                    }
                }


                min-width: 400px;
                margin-bottom: 20px;
                margin-left: 10px;

                .choose{
                    opacity: 0;
                    cursor: default;
                    margin-left: 20px;
                    justify-content:flex-start;

                    span{
                    
                        color: #414956;
                        font-weight: 600;
                        font-size: 14px;
                        border: 1px solid #e3e7ef;
                        border-radius: 56px;
                        padding: 0 20px;
                        height: 36px;
                        line-height: 35px;
                        text-align: center;
                        display: inline-block;
                        // cursor: pointer;
                    }
                }

                &__img{
                    width: 72px;
                    height: 72px;
                    border-radius : 50%;
                   
                }

                &__file{
                    
                    width: 160px;
                    position: absolute;
                    opacity: 0;
                    // cursor: default;
                }


                &__label{
                    font-size : 1.6rem;
                    color : #000;
                    font-weight : 600;
                    display :block;
                    cursor: default;
                }

                &__input{
                    margin-top: 6px;
                }

                &__btn{

                    background-color : $main-color;
                    border-radius : 25px;
                    padding: 10px 20px;
                    font-size : 2rem;
                    color : #fff;
                    outline: none;
                    cursor: pointer;


                }
            }
        }
    }
}
}