.my-order {
    margin-top: 80px;
    margin-bottom: 50px;

    .my-order-title {
        font-size: 32px;
        font-weight: bold;
        padding: 20px 0;
    }

    &-content {
        margin: 20px auto 0;
        min-height: 500px;
        border-radius: 8px;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 14px;
        .my-order-menu_top {
            padding: 12px 24px;
            border-bottom: 1px solid #e3e7ef;

            .menu_top-items {
                @include flex(center, flex-start);
                flex-wrap: wrap;

                .menu_top-item {
                    position: relative;
                    display: inline-block;
                    font-size: 1.6rem;

                    margin: 10px 0 0 10px;
                    color: $main-color;
                    padding: 12px 16px;
                    font-weight: 600;

                    &-number {
                        position: absolute;
                        right: 0;
                        top: -2px;
                        padding: 2px 4px;
                        color: #fff;

                        border-radius: 50%;
                        background-color: $main-color;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #0b29bb;
                    }
                }
                .active {
                    color: #0b29bb;
                }
            }
        }
        .my-order-list {
            .my-order-list-item {
                padding: 12px 24px;
                margin: 20px 0 32px;
                border-bottom: 1px solid #e3e7ef;
                box-shadow: $box-shadow;
                border-radius: 8px;

                .item-top {
                    @include flex(center, space-between);
                    padding-bottom: 15px;
                    border-bottom: 1px solid #e3e7ef;

                    &-left {
                        font-size: 14px;
                    }
                }
                .item-content-items {
                    .item-content {
                        @include flex(flex-start, flex-start);
                        border-bottom: 1px solid #e3e7ef;
                        margin: 4px 8px;

                        img {
                            width: 80px;
                            height: 80px;
                        }

                        &-info {
                            padding: 8px;
                            p {
                                font-size: 15px;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }
                            i {
                                font-size: 12px;
                            }
                        }

                        &-price {
                            flex: 1;
                            padding: 10px;
                            text-align: right;
                            font-size: 14px;
                            text-decoration: underline;
                        }
                        &:hover {
                            color: $main-color;
                            transform: translateY(-2px);
                        }
                    }
                }

                .item-total {
                    padding: 8px 15px;
                    color: #e23719;
                    font-size: 20px;
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }
}

.item-pending,
.item-transport,
.item-receved,
.item-cancle {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    color: #fff;

    border-radius: 8px;
}
.item-pending {
    background: #ffc318;
}
.item-transport {
    background: #ffc318;
}
.item-receved {
    background: green;
}
.item-cancle {
    background: #d40a25;
}
