%Hover {
    cursor: pointer;
    color: $main-color;
}

.header {
    @include flex(center, unset);

    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1000;
    height: $header-height;

    box-shadow: $box-shadow;

    &__nav {
        @include flex(center, unset);

        &-logo {
            font-size: 20px;
            font-weight: bold;
            padding: 0 8px;
            width: 144px;
        }

        &-brain {
            flex: none;
            text-align: center;
            border-left: 1px solid #e3e7ef;
            position: relative;
            margin-left: 10px;

            &-title {
                padding: 15px 12px;
                font-weight: 600;

                &:hover {
                    @extend %Hover;
                }
            }

            &-list {
                display: none;
                position: absolute;
                border: 1px solid $main-color;

                width: 600px;
                background-color: #fbfbfb;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 14px;
                overflow: hidden;

                text-align: left;
                flex-wrap: wrap;
                border-radius: 4px;
                height: 0;
                transition: height 2s ease-in-out;

                &-items {
                    display: inline-block;
                    width: 25%;
                    border-bottom: 1px solid #e3e7ef;
                    border-right: 1px solid #e3e7ef;
                    padding: 15px;

                    &-title {
                        padding-bottom: 6px;

                        &:hover {
                            @extend %Hover;
                        }
                    }
                    &-item {
                        padding: 4px 8px;
                        font-weight: 500;

                        &:hover {
                            @extend %Hover;
                        }
                    }
                }
            }
            &:hover .header__nav-brain-list {
                display: flex;
                height: 400px;
            }
        }

        &-search {
            width: 450px;
            position: relative;
            margin-left: 60px;

            &-input {
                width: 100%;
                padding: 8px 16px;
                border-radius: 20px;

                border: 1px solid #e3e7ef;
                background-color: #fbfbfb;
            }

            &-button {
                top: 4px;
                position: absolute;
                right: 8px;
                background-color: #fbfbfb;

                border: none;
                border-left: 1px solid #4267b2;
                padding: 5px 4px;
                border-radius: 4px;
                font-weight: 600;
            }
        }

        &-menu-right {
            @include flex(center, flex-end);
            flex: 1;

            &-item {
                position: relative;
                padding: 8px 10px;
                margin: 0 14px;
                border-radius: 50%;

                &-icon {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $main-color;
                    opacity: 0.8;
                }

                &-sm {
                    position: absolute;
                    right: -4px;
                    top: -4px;
                    color: #fff;
                    text-align: center;

                    background-color: red;
                    border-radius: 50%;
                    padding: 0 2px;
                    height: 20px;
                    width: 20px;
                }
            }
        }

        @include mb {
            &-search,
            &-brain {
                display: none;
            }
        }
    }
}
