@import "./base.scss";
@import "./mixins";
@import "./variables";

@import "../components/TopBar/TopBar.scss";
@import "../components/SideBar/SideBar.scss";
@import "../components/AddConfig/config.scss";
@import "../components/OrderDetailModal/ordermodal.scss";
@import "../pages/Home/Home.scss";
@import "../pages/UserList/UserList.scss";
@import "../pages/User/User.scss";
@import "../pages/OrderList/order.scss";
@import "../pages/Register/Register.scss";
@import "../pages/ProductList/ProductList.scss";
@import "../pages/Product/Product.scss";
@import "../pages/CreateProduct/CreateProduct.scss";
@import "../pages/Rating/Rating.scss";

@import "../components/FeaturedInfo/FeaturedInfo.scss";
@import "../components/Chart/Chart.scss";
